@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
}

header {
    background-color: #2E948A ;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

header #container-header {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    max-width: 1440px;
}


ul .nav-item {
    display: inline;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
}

.nav-item .nav-item-link {
    text-decoration: none;
    font-weight: bold;
    color: #FDFDFD;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.nav-item:hover {
    background-color: #51d3c6;
}

 section {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin: 60px 100px;
    
}

form {
    width: 35%;
   
}

form h3 {
    margin-bottom: 50px;
    margin-left: 10px;
    font-size: 40px;
    font-weight: bold;
    color: #FF4081;
}


form input, textarea {
    display: block;
    width: 100%;
    margin: 15px;
    border: 1px solid #686868;
    border-radius: 7px;
    padding: 5px 22px;
    resize: none;
}

button {
    background-color: #FF4081;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 15px;
    padding: 5px 30px;
    border-radius: 50px;
    border: none;
    text-align: center;
}

button:hover {
    background-color: #f86496;
}

#side-image {
    width: 25%;
}

footer {
    background-color: #419488;
}

footer #container-footer {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    padding: 20px;
}

footer #logo-footer {
    margin-left: -50px;
}

footer .nav-item-footer {
    list-style: none;
    margin: 10px;
}

footer .nav-item-link-footer {
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    text-transform: lowercase;
}

#more-options-footer .footer-link {
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    padding: 14px 71px;
    display: block;
    margin: 13px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;

}

#more-options-footer .footer-link:hover {
    color: #444343;
    background-color: #FFFFFF;
}


@media only screen and (max-width: 1200px) {
    html, body {
        overflow-x: hidden;
        
    }

    header #container-header {
        justify-content: space-around;
    }

    section {
        margin: 60px 20px;
    }

}


@media only screen and (max-width: 992px) {
    html, body {
        overflow-x: hidden;
    }

    header #container-header {
        justify-content: space-around;
    }

    header #logo-header {
        margin-left: 0;
    }

    section {
        flex-direction: column-reverse;
        margin: 30px auto;
    }

    form {
        width: 75%;
        margin: auto;
    }

    #side-image {
        width: 65%;
        margin: auto;
    }



}

@media only screen and (max-width: 768px) {
    #nav-list {
        display: flex;
    }

    section {
        flex-direction: column-reverse;
        margin: 30px auto;

    }

    form {
        width: 80%;
        
    }

    #more-options-footer .footer-link {
        padding: 10px 30px;
    }

}

@media only screen and (max-width: 480px) {
    html, body {
        overflow-x: hidden;
    }

    header #logo-header {
        margin-left: 0;
    }

    #nav-list {
        display: flex;
        flex-direction: column;
    }

    ul .nav-item {
        margin: 10px 10px;
    }

    #nav-list {
        padding: 5px;
    }

    .nav-item .nav-item-link {
        font-size: 15px;
    }

    section {
        display: block;
        margin: 60px auto;
    }

    form {
        width: 70%;
        margin: 0;
    }

    #side-image {
        display: none;
    }

    footer #container-footer {
        flex-direction: column;
    }

    footer #logo-footer {
        margin-left: 0;
    }

    .nav-item-footer {
        display: inline;
       
    }

    footer ul {
        margin-left: -30px;
     } 

}








    



