@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

html{
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
    
}

header {
    background-color: #2E948A ;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

header #container-header {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    max-width: 1440px;
}


ul .nav-item {
    display: inline;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
}

.nav-item .nav-item-link {
    text-decoration: none;
    font-weight: bold;
    color: #FDFDFD;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.nav-item:hover {
    background-color: #51d3c6;
}

section{
    width: 80%;
    margin: auto;
    padding: 100px;
}

#section-title {
    margin-bottom: 70px;
    text-align: center;
}

#section-title h2 {
    font-size: 60px;
    color: #FF4081;
    margin-bottom: 0;

}

#section-title h6 {
    font-size: 18px;
    color: #9D9D9D;
    margin: 0;
}

#section-image {
    text-align: center;
}


.paragraphs-cards{
    margin: 100px auto;
}

.paragraphs-cards p {
    font-size: 18px;
    color: #000000;
}

.paragraphs-cards h3 {
    font-size: 25px;
    color: #2E948A;
}

#our-courses {
    background-color: #F6F6F6 ;
}

#courses-main-title {
    text-align: center;
}

#courses-main-title h2 {
    font-size: 50px;
    color: #FF4081;
    padding-top: 80px;
    padding-bottom: 50px;
}

#article-container {
    display: flex;
    width: 90%;
    margin: auto;
    text-align: center;
    gap: 150px;
}

.course-card{ 
    padding-bottom: 100px;
}

.course-card h5 {
    font-size: 21px;
    color: #FF4081;
    font-weight: bold;
   
}

.course-card p {
    font-size: 17px;
    color: #000000;
    text-align: center;
    width: 90%;
    margin: 10px auto;
    margin-bottom: 60px;
   

}

.course-card a {
    background-color: #FF4081;
    border-radius: 62px;
    color: #FFFFFF;
    font-size: 20px;
    padding: 18px 45px;
    text-decoration: none;
    cursor: pointer;
   

}

.course-card a:hover {
    background-color: #f86496;
}

footer {
    background-color: #419488;
}

footer #container-footer {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    padding: 20px;
}

footer #logo-footer {
    margin-left: -50px;
}

footer .nav-item-footer {
    list-style: none;
    margin: 10px;
}

footer .nav-item-link-footer {
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    text-transform: lowercase;
}

#more-options-footer .footer-link {
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    padding: 14px 71px;
    display: block;
    margin: 13px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;

}

#more-options-footer .footer-link:hover {
    color: #444343;
    background-color: #FFFFFF;
}


/* Media queries - 1200px */

@media only screen and (max-width:1200px) {
    html, body {
        overflow-x: hidden;
    }

    header #container-header {
        justify-content: space-around;
    }

    section {
        width: 75%;
    }

    #section-image img {
        width: 880px;
        height: 395px;
    }

    #article-container {
        width: 80%;
        gap: 90px;
    }

    .course-card a {
        padding: 18px 30px;
    }


   
}

/* Media queries - 1200px */

/* Media queries - 992px */
@media only screen and (max-width: 992px){
    html, body {
        overflow-x: hidden;
    }
    
    header #container-header {
        justify-content: space-around;
    }
    
    header #logo-header {
        margin-left: 0;
    }

    ul .nav-item{
        margin: 0;
    }
    
    #section-image img {
        width: 580px;
        height: 260px;
    }
    
    #article-container {
        flex-direction: column;
        gap: 70px;
    }
    }
    
    
    /* Media queries - 992px */

    /* Media queries - 768px */
@media only screen and (max-width: 768px) {
    #nav-list {
        display: flex;
    }

    ul .nav-item{
        margin: 0;
    }

    #section-image img {
        width: 538px;
        height: 241px;
    }

    #article-container {
        flex-direction: column;
        gap: 70px;
    }

    

    #more-options-footer .footer-link {
        padding: 10px 30px;
    }
}

/* Media queries - 768px */
    

/* Media queries - 480px */
@media only screen and (max-width: 480px) {
    html, body {
        overflow-x: hidden;
    }

    header #logo-header {
        margin-left: 0;
    }

    #nav-list {
        display: flex;
        flex-direction: column;
    }

    ul .nav-item {
        margin: 10px 10px;
    }

    #nav-list {
        padding: 5px;
    }

    .nav-item .nav-item-link {
        font-size: 15px;
    }

    section {
        width: 70%;
        padding: 50px;
    }


    #section-title h2 {
        font-size: 55px;
    }

    #section-image {
        display: none;
    }

    .paragraphs-cards {
        width: 90%;
    }

    #article-container {
        flex-direction: column;
    }

    footer #container-footer {
        flex-direction: column;
    }

    footer #logo-footer {
        margin-left: 0;
    }

    .nav-item-footer {
        display: inline;
       
    }

    footer ul {
        margin-left: -30px;
     } 

}
/* Media queries - 480px */







